# Deployed VowChain contracts (GenLayer Studionet)
VITE_VOWCHAIN_CORE_ADDRESS=0x9112998Ac8697732A835F9bf7Dd15367Ad850F5B
VITE_VOWCHAIN_TREASURY_ADDRESS=0x11fDd351Ad079A18278D8B05f98c555D51a187c5
VITE_GENLAYER_RPC=https://studio.genlayer.com/api
